In [1]:
import pandas as pd

In [2]:
# these are the input and output filtered csv files
input_file = "Data/glassdoor.csv"
output_file = "Data/glassdoor_filtered.csv"

In [3]:
def clean_overly_large_columns(df, max_string_length=500):
    """
    clean the overly large columns of the sent in dataframe
    
    to clean the overly large files, make sure that the max 
    string length's in a column are under the max_string_length
    sent in, or defaulted to 500
    
    in other words, clean the data by finding the columns where
    the string length's for any of the data in that column exceeds
    the string length of the number max_string_length
    
    """
    # contain the names of the too big columns
    overly_large_columns = []
    
    # iterat thru all the columns
    for column in df.columns:
        # if the column's data type is an object
        # we can assume the data type might be a string
        if (df[column].dtype == object):
            # try to remove the column if it is a string
            # otherwise ignore it
            try:
                # get the string length
                string_length = float(max(df[column].str.split().str.len()))
                # if the string length is too long, add
                # it to the overly_large_columns list
                if (string_length >= max_string_length):
                    print(f"\t{column} was removed")
                    overly_large_columns.append(column)
                else:
                    print(f"\t{column} was not removed")
            except:
                print(f"\t{column} was not string")
    # print out the info
    print(f"prev columns were {len(df.columns)}, now they are {len(df.columns) - len(overly_large_columns)}")
    # return the df
    return df.drop(overly_large_columns, axis=1)

In [4]:
# read the csv
glassdoor_df = pd.read_csv(input_file)

In [5]:
# clean the csv
glassdoor_df = clean_overly_large_columns(glassdoor_df)

	benefits.employerSummary was not removed
	gaTrackerData.empName was not removed
	gaTrackerData.empSize was not removed
	gaTrackerData.industry was not removed
	gaTrackerData.jobTitle was not removed
	gaTrackerData.location was not removed
	gaTrackerData.locationType was not removed
	gaTrackerData.pageRequestGuid.guid was not removed
	gaTrackerData.sector was not removed
	gaTrackerData.profileConversionTrackingParams.trackingCAT was not removed
	gaTrackerData.jobViewTrackingResult.requiresTracking was not string
	gaTrackerData.jobViewTrackingResult.trackingUrl was not removed
	header.advertiserType was not removed
	header.applyUrl was not removed
	header.coverPhoto was not removed
	header.employerName was not removed
	header.jobTitle was not removed
	header.location was not removed
	header.locationType was not removed
	header.logo was not removed
	header.logo2x was not removed
	header.overviewUrl was not removed
	header.posted was not removed
	header.uxApplyType was not removed
	header.featuredVideo was not removed
	header.normalizedJobTitle was not removed
	header.urgencyLabel was not removed
	header.urgencyLabelForMessage was not removed
	header.urgencyMessage was not removed
	header.needsCommission was not string
	header.payPeriod was not removed
	header.salarySource was not removed
	job.description was removed
	job.discoverDate was not removed
	job.jobSource was not removed
	map.country was not removed
	map.employerName was not removed
	map.location was not removed
	map.address was not removed
	map.postalCode was not removed
	overview.allBenefitsLink was not removed
	overview.allPhotosLink was not removed
	overview.allReviewsLink was not removed
	overview.allSalariesLink was not removed
	overview.hq was not removed
	overview.industry was not removed
	overview.revenue was not removed
	overview.sector was not removed
	overview.size was not removed
	overview.stock was not removed
	overview.type was not removed
	overview.description was removed
	overview.mission was not removed
	overview.website was not removed
	overview.allVideosLink was not removed
	overview.companyVideo was not removed
	rating.ceo.name was not removed
	rating.ceo.photo was not removed
	rating.ceo.photo2x was not removed
	salary.country.cc3LetterISO was not removed
	salary.country.ccISO was not removed
	salary.country.continent.continentCode was not removed
	salary.country.continent.continentName was not removed
	salary.country.continent.new was not string
	salary.country.countryFIPS was not removed
	salary.country.currency.currencyCode was not removed
	salary.country.currency.displayName was not removed
	salary.country.currency.name was not removed
	salary.country.currency.negativeTemplate was not removed
	salary.country.currency.new was not string
	salary.country.currency.positiveTemplate was not removed
	salary.country.currency.symbol was not removed
	salary.country.currencyCode was not removed
	salary.country.defaultLocale was not removed
	salary.country.defaultName was not removed
	salary.country.defaultShortName was not removed
	salary.country.employerSolutionsCountry was not string
	salary.country.longName was not removed
	salary.country.major was not string
	salary.country.name was not removed
	salary.country.new was not string
	salary.country.shortName was not removed
	salary.country.tld was not removed
	salary.country.type was not removed
	salary.country.uniqueName was not removed
	salary.country.usaCentricDisplayName was not removed
	salary.currency.currencyCode was not removed
	salary.currency.displayName was not removed
	salary.currency.name was not removed
	salary.currency.negativeTemplate was not removed
	salary.currency.new was not string
	salary.currency.positiveTemplate was not removed
	salary.currency.symbol was not removed
	salary.lastSalaryDate was not removed
prev columns were 163, now they are 161

In [6]:
# these are the columns to keep
keep_columns = [
    'gaTrackerData.empId',
    'gaTrackerData.empName',
    'gaTrackerData.industry',
    'gaTrackerData.jobTitle',
    'gaTrackerData.location',
    'gaTrackerData.locationId',
    'rating.starRating',
    'salary.country.id',
    'salary.country.name',
    'salary.currency.currencyCode',
    'salary.currency.displayName',
    'salary.currency.id',
    'salary.currency.name',
    'salary.currency.symbol',
    'salary.salaries'
]
# the drop columns will be 
drop_columns =  list(glassdoor_df.columns)
for keep in keep_columns:
    if (keep in drop_columns):
        drop_columns.remove(keep)
#
print(f"was {len(list(glassdoor_df.columns))}, keep {len(keep_columns)}, remove {len(drop_columns)}")

was 161, keep 15, remove 146

In [7]:
# drop the unwanted columns
glassdoor_df = glassdoor_df.drop(drop_columns, axis=1)
# display the data
glassdoor_df

,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.industry,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,rating.starRating,salary.country.id,salary.country.name,salary.currency.currencyCode,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.symbol,salary.salaries
0,2183810,Modus Group,Investment Banking & Asset Management,Biogas Project Development Manager,Warsaw,3094484,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0
1,10416,Boehringer Ingelheim,Biotech & Pharmaceuticals,Quality Manager - Boehringer Ingelheim Healthc...,NaN,3183562,3.8,2.0,United Kingdom,GBP,United Kingdom Pound (GBP),2.0,United Kingdom Pound,&pound;,2484.0
2,1043373,Immobiliare.it,NaN,"Senior Software Engineer (PHP, Elixir, Python)",Milano,2802090,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0
3,2226886,Codup,NaN,Senior SQA Engineer,Karachi,3212296,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0
4,851555,Markelytics Solutions,Consulting,Research Manager,Bengaluru,2940587,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165285,414579,Valiram Group,"Department, Clothing, & Shoe Stores",East – Assistant Store Manager (All Brands),NaN,-1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52075.0
165286,1519,Intel Corporation,Computer Hardware & Software,Data Center Partner Marketing Manager (Japan),Tokyo,2851580,4.0,2.0,United Kingdom,GBP,United Kingdom Pound (GBP),2.0,United Kingdom Pound,&pound;,52076.0
165287,1065492,Mc Three,NaN,Junior Production Manager m/v,Waregem,2344926,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52077.0
165288,595052,Hanzehogeschool Groningen,Colleges & Universities,Opleidingsmanager Industrieel Product Ontwerpen,Groningen,3063595,3.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52078.0
165289,2962564,Tembusu Industries,NaN,BIO MASS SCIENTIST / RESEARCHERS,NaN,3235921,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52079.0

In [8]:
# sort the columns by salary.salaries
glassdoor_df = glassdoor_df.sort_values("salary.salaries")

In [9]:
# drop the rows that are empty at the salary.salaries column
glassdoor_df = glassdoor_df[glassdoor_df["salary.salaries"].notna()]
# display the data
glassdoor_df

,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.industry,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,rating.starRating,salary.country.id,salary.country.name,salary.currency.currencyCode,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.symbol,salary.salaries
157290,1382539,Xfers,Financial Transaction Processing,"Software Engineer, Full Stack - HCM Vietnam",NaN,2748023,4.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
157291,7448,Altran Group,IT Services,Android Automotive Engineer (W/M),NaN,2457577,3.40,2.0,United Kingdom,GBP,United Kingdom Pound (GBP),2.0,United Kingdom Pound,&pound;,2.0
157292,1727201,Moneybox,NaN,Product Manager,London,2671300,5.00,2.0,United Kingdom,GBP,United Kingdom Pound (GBP),2.0,United Kingdom Pound,&pound;,3.0
157293,354093,Demant,Health Care Services & Hospitals,Business Analyst,NaN,3008741,3.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
157294,642590,OutSystems,Computer Hardware & Software,Software Engineer Team Leader - Braga,Braga,3227540,4.20,2.0,United Kingdom,GBP,United Kingdom Pound (GBP),2.0,United Kingdom Pound,&pound;,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138884,1013251,Canva,Computer Hardware & Software,Senior Product Marketing Manager,NaN,2235932,4.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147145.0
138886,722741,Mitra Integrasi Informatika,Accounting,Functional Consultant,Jakarta,2709872,3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147146.0
138887,931298,Haufe Group,Enterprise Software & Network Solutions,Technical Product Owner (m/w/d),Freiburg,2566280,4.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147147.0
138888,3082694,Profile Middle East,NaN,Warehouse/Material Engineer,Sharjah,2203109,-0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147148.0
138889,231682,Northern NSW Local Health District,Health Care Services & Hospitals,Medical Laboratory Assistant - Pathology Colle...,NaN,2240788,3.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147149.0

In [10]:
# rename the columns to use underscore
columns_rename = list(glassdoor_df.columns)
for i in range(len(columns_rename)):
    columns_rename[i] = columns_rename[i].replace(".", "_")

glassdoor_df.columns = columns_rename

In [11]:
# save the csv
glassdoor_df.to_csv(output_file, index=False)