In [1]:
import os.path
from os import path
import pandas as pd
import datetime as dt
import requests

# Data Wrangle! Ye-Haw!

First we need to load in our data
- glassdoor.csv or (smaller git file)glassdoor_filtered.csv  
- glassdoor_salary_salaries

In [2]:
# this is the pre-filtered main gassdoor file, without some columns
filtered_file = "Data/glassdoor_filtered.csv"
# these are the glassdoor job saleries
salaries_file = "Data/glassdoor_salary_salaries.csv"

In [3]:
# import the filtered_file
glassdoor_df = pd.read_csv(filtered_file)
# set the id column as the index
glassdoor_df
#
glassdoor_df

,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobId.long,gaTrackerData.jobId.int,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,...,salary.currency.defaultFractionDigits,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries
0,1382539,Xfers,1-50,Financial Transaction Processing,200052,3.281584e+09,NaN,"Software Engineer, Full Stack - HCM Vietnam",NaN,2748023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,7448,Altran Group,10000--1,IT Services,200064,3.357106e+09,NaN,Android Automotive Engineer (W/M),NaN,2457577,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-09-30T12:23:30,2.0
2,1727201,Moneybox,1-50,NaN,0,3.386690e+09,NaN,Product Manager,London,2671300,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-11-02T07:01:49,3.0
3,354093,Demant,10000--1,Health Care Services & Hospitals,200059,3.401994e+09,NaN,Business Analyst,NaN,3008741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
4,642590,OutSystems,1001-5000,Computer Hardware & Software,200060,3.036655e+09,NaN,Software Engineer Team Leader - Braga,Braga,3227540,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-09-24T12:04:04,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147144,1013251,Canva,201-500,Computer Hardware & Software,200060,3.258735e+09,NaN,Senior Product Marketing Manager,NaN,2235932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147145.0
147145,722741,Mitra Integrasi Informatika,501-1000,Accounting,200001,3.327617e+09,NaN,Functional Consultant,Jakarta,2709872,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147146.0
147146,931298,Haufe Group,1001-5000,Enterprise Software & Network Solutions,200061,3.412664e+09,NaN,Technical Product Owner (m/w/d),Freiburg,2566280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147147.0
147147,3082694,Profile Middle East,-1-0,NaN,0,3.238053e+09,NaN,Warehouse/Material Engineer,Sharjah,2203109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147148.0
147148,231682,Northern NSW Local Health District,5001-10000,Health Care Services & Hospitals,200059,3.395580e+09,NaN,Medical Laboratory Assistant - Pathology Colle...,NaN,2240788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147149.0

In [4]:
# import the salaries_file
salaries_df = pd.read_csv(salaries_file)
# set the id column as the index
salaries_df.set_index("id", drop=True, inplace=True)
#
salaries_df

,index,salary.salaries.val.basePayCount,salary.salaries.val.jobTitle,salary.salaries.val.payPeriod,salary.salaries.val.salaryPercentileMap.payPercentile10,salary.salaries.val.salaryPercentileMap.payPercentile90,salary.salaries.val.salaryPercentileMap.payPercentile50,salary.salaries.val.salaryType
id,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,9.0,Advanced Consultant,ANNUAL,32257.68,41971.34,38713.25,employer
2,1.0,7.0,Consultant,ANNUAL,28855.30,74022.00,38602.20,employer
2,2.0,7.0,Software Engineer,ANNUAL,30377.86,38750.00,35032.53,employer
2,3.0,4.0,Project Manager,ANNUAL,38254.70,48675.67,45636.77,employer
...,...,...,...,...,...,...,...,...
35670,0.0,1.0,Product Manager,ANNUAL,34265.47,37770.71,NaN,employer
35670,1.0,1.0,Service Manager,ANNUAL,51916.31,56360.15,NaN,employer
35670,2.0,1.0,IPC,ANNUAL,31247.73,33952.68,NaN,employer
35670,3.0,1.0,Applications Engineer,ANNUAL,47339.83,51077.61,NaN,employer
35670,4.0,1.0,Line Operator,ANNUAL,18519.93,20354.51,NaN,employer

In [21]:
keep = [
    
]
salaries_df["salary.salaries.val.jobTitle"].value_counts()

Project Manager       13088
Software Engineer     11766
Account Manager        9884
Intern                 8274
Senior Consultant      8215
                      ...
Agency Nurse              1
C# Developer              1
Senior Compositor         1
Packer                    1
Analytical Chemist        1
Name: salary.salaries.val.jobTitle, Length: 5181, dtype: int64

## Drop it like it's hot!
Now we will drop all the data that we believe can be removed for the scope of this project

In [7]:
for c in glassdoor_df.columns:
    print(c)

benefits.benefitRatingDecimal
benefits.comments
benefits.highlights
benefits.numRatings
benefits.employerSummary
breadCrumbs
gaTrackerData.category
gaTrackerData.empId
gaTrackerData.empName
gaTrackerData.empSize
gaTrackerData.expired
gaTrackerData.industry
gaTrackerData.industryId
gaTrackerData.jobId.long
gaTrackerData.jobId.int
gaTrackerData.jobTitle
gaTrackerData.location
gaTrackerData.locationId
gaTrackerData.locationType
gaTrackerData.pageRequestGuid.guid
gaTrackerData.pageRequestGuid.guidValid
gaTrackerData.pageRequestGuid.part1
gaTrackerData.pageRequestGuid.part2
gaTrackerData.sector
gaTrackerData.sectorId
gaTrackerData.profileConversionTrackingParams.trackingCAT
gaTrackerData.profileConversionTrackingParams.trackingSRC
gaTrackerData.profileConversionTrackingParams.trackingXSP
gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis
gaTrackerData.jobViewTrackingResult.requiresTracking
gaTrackerData.jobViewTrackingResult.trackingUrl
header.adOrderId
header.advertiserType
header.applicationId
header.applyButtonDisabled
header.applyUrl
header.blur
header.coverPhoto
header.easyApply
header.employerId
header.employerName
header.expired
header.gocId
header.hideCEOInfo
header.jobTitle
header.locId
header.location
header.locationType
header.logo
header.logo2x
header.organic
header.overviewUrl
header.posted
header.rating
header.saved
header.savedJobId
header.sgocId
header.sponsored
header.userAdmin
header.uxApplyType
header.featuredVideo
header.normalizedJobTitle
header.urgencyLabel
header.urgencyLabelForMessage
header.urgencyMessage
header.needsCommission
header.payHigh
header.payLow
header.payMed
header.payPeriod
header.salaryHigh
header.salaryLow
header.salarySource
job.discoverDate
job.eolHashCode
job.importConfigId
job.jobReqId.long
job.jobReqId.int
job.jobSource
job.jobTitleId
job.listingId.long
job.listingId.int
map.country
map.employerName
map.lat
map.lng
map.location
map.address
map.postalCode
overview.allBenefitsLink
overview.allPhotosLink
overview.allReviewsLink
overview.allSalariesLink
overview.foundedYear
overview.hq
overview.industry
overview.industryId
overview.revenue
overview.sector
overview.sectorId
overview.size
overview.stock
overview.type
overview.mission
overview.website
overview.allVideosLink
overview.competitors
overview.companyVideo
photos
rating.ceo.name
rating.ceo.photo
rating.ceo.photo2x
rating.ceo.ratingsCount
rating.ceoApproval
rating.recommendToFriend
rating.starRating
reviews
salary.country.cc3LetterISO
salary.country.ccISO
salary.country.continent.continentCode
salary.country.continent.continentName
salary.country.continent.id
salary.country.continent.new
salary.country.countryFIPS
salary.country.currency.currencyCode
salary.country.currency.defaultFractionDigits
salary.country.currency.displayName
salary.country.currency.id
salary.country.currency.name
salary.country.currency.negativeTemplate
salary.country.currency.new
salary.country.currency.positiveTemplate
salary.country.currency.symbol
salary.country.currencyCode
salary.country.defaultLocale
salary.country.defaultName
salary.country.defaultShortName
salary.country.employerSolutionsCountry
salary.country.id
salary.country.longName
salary.country.major
salary.country.name
salary.country.new
salary.country.population
salary.country.shortName
salary.country.tld
salary.country.type
salary.country.uniqueName
salary.country.usaCentricDisplayName
salary.currency.currencyCode
salary.currency.defaultFractionDigits
salary.currency.displayName
salary.currency.id
salary.currency.name
salary.currency.negativeTemplate
salary.currency.new
salary.currency.positiveTemplate
salary.currency.symbol
salary.lastSalaryDate
salary.salaries
wwfu

In [9]:
print("id")
for c in salaries_df.columns:
    print(c)

id
index
salary.salaries.val.basePayCount
salary.salaries.val.jobTitle
salary.salaries.val.payPeriod
salary.salaries.val.salaryPercentileMap.payPercentile10
salary.salaries.val.salaryPercentileMap.payPercentile90
salary.salaries.val.salaryPercentileMap.payPercentile50
salary.salaries.val.salaryType

In [12]:
keep_columns = [
    'gaTrackerData.empId',
    'gaTrackerData.empName',
    'gaTrackerData.empSize',
    'gaTrackerData.industry',
    'gaTrackerData.industryId',
    'gaTrackerData.jobId.long',
    'gaTrackerData.jobId.int',
    'gaTrackerData.jobTitle',
    'gaTrackerData.location',
    'gaTrackerData.locationId',
    'gaTrackerData.sector',
    'gaTrackerData.sectorId',
    'map.location',
    'rating.starRating',
    'salary.country.cc3LetterISO',
    'salary.country.ccISO',
    'salary.country.continent.continentCode',
    'salary.country.continent.continentName',
    'salary.country.continent.id',
    'salary.country.continent.new',
    'salary.country.countryFIPS',
    'salary.country.currency.currencyCode',
    'salary.country.currency.defaultFractionDigits',
    'salary.country.currency.displayName',
    'salary.country.currency.id',
    'salary.country.currency.name',
    'salary.country.currency.negativeTemplate',
    'salary.country.currency.new',
    'salary.country.currency.positiveTemplate',
    'salary.country.currency.symbol',
    'salary.country.currencyCode',
    'salary.country.defaultLocale',
    'salary.country.defaultName',
    'salary.country.defaultShortName',
    'salary.country.employerSolutionsCountry',
    'salary.country.id',
    'salary.country.longName',
    'salary.country.major',
    'salary.country.name',
    'salary.country.new',
    'salary.country.population',
    'salary.country.shortName',
    'salary.country.tld',
    'salary.country.type',
    'salary.country.uniqueName',
    'salary.country.usaCentricDisplayName',
    'salary.currency.currencyCode',
    'salary.currency.defaultFractionDigits',
    'salary.currency.displayName',
    'salary.currency.id',
    'salary.currency.name',
    'salary.currency.negativeTemplate',
    'salary.currency.new',
    'salary.currency.positiveTemplate',
    'salary.currency.symbol',
    'salary.lastSalaryDate',
    'salary.salaries'
]
drop_columns =  list(glassdoor_df.columns)
for keep in keep_columns:
    if (keep in drop_columns):
        drop_columns.remove(keep)
    
print(f"was {len(list(glassdoor_df.columns))}, keep {len(keep_columns)}, remove {len(drop_columns)}")

was 161, keep 57, remove 104

In [13]:
glassdoor_df = glassdoor_df.drop(drop_columns, axis=1)
glassdoor_df

,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobId.long,gaTrackerData.jobId.int,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,...,salary.currency.defaultFractionDigits,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries
0,2183810,Modus Group,501-1000,Investment Banking & Asset Management,200053,3.227100e+09,NaN,Biogas Project Development Manager,Warsaw,3094484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0
1,10416,Boehringer Ingelheim,10000--1,Biotech & Pharmaceuticals,200021,3.406582e+09,NaN,Quality Manager - Boehringer Ingelheim Healthc...,NaN,3183562,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-14T06:05:58,2484.0
2,1043373,Immobiliare.it,201-500,NaN,0,3.230738e+09,NaN,"Senior Software Engineer (PHP, Elixir, Python)",Milano,2802090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0
3,2226886,Codup,1-50,NaN,0,3.406677e+09,NaN,Senior SQA Engineer,Karachi,3212296,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0
4,851555,Markelytics Solutions,201-500,Consulting,200028,3.201516e+09,NaN,Research Manager,Bengaluru,2940587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165285,414579,Valiram Group,1001-5000,"Department, Clothing, & Shoe Stores",200105,2.939045e+09,NaN,East – Assistant Store Manager (All Brands),NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52075.0
165286,1519,Intel Corporation,10000--1,Computer Hardware & Software,200060,3.301658e+09,NaN,Data Center Partner Marketing Manager (Japan),Tokyo,2851580,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-30T06:24:28,52076.0
165287,1065492,Mc Three,-1-0,NaN,0,3.386398e+09,NaN,Junior Production Manager m/v,Waregem,2344926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52077.0
165288,595052,Hanzehogeschool Groningen,1001-5000,Colleges & Universities,200044,3.402587e+09,NaN,Opleidingsmanager Industrieel Product Ontwerpen,Groningen,3063595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52078.0
165289,2962564,Tembusu Industries,-1-0,NaN,0,3.301947e+09,NaN,BIO MASS SCIENTIST / RESEARCHERS,NaN,3235921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52079.0

In [14]:
glassdoor_df.to_csv("Data/super_filtered.csv", index=False)

In [15]:
for c in glassdoor_df.columns:
    print(c)

gaTrackerData.empId
gaTrackerData.empName
gaTrackerData.empSize
gaTrackerData.industry
gaTrackerData.industryId
gaTrackerData.jobId.long
gaTrackerData.jobId.int
gaTrackerData.jobTitle
gaTrackerData.location
gaTrackerData.locationId
gaTrackerData.sector
gaTrackerData.sectorId
map.location
rating.starRating
salary.country.cc3LetterISO
salary.country.ccISO
salary.country.continent.continentCode
salary.country.continent.continentName
salary.country.continent.id
salary.country.continent.new
salary.country.countryFIPS
salary.country.currency.currencyCode
salary.country.currency.defaultFractionDigits
salary.country.currency.displayName
salary.country.currency.id
salary.country.currency.name
salary.country.currency.negativeTemplate
salary.country.currency.new
salary.country.currency.positiveTemplate
salary.country.currency.symbol
salary.country.currencyCode
salary.country.defaultLocale
salary.country.defaultName
salary.country.defaultShortName
salary.country.employerSolutionsCountry
salary.country.id
salary.country.longName
salary.country.major
salary.country.name
salary.country.new
salary.country.population
salary.country.shortName
salary.country.tld
salary.country.type
salary.country.uniqueName
salary.country.usaCentricDisplayName
salary.currency.currencyCode
salary.currency.defaultFractionDigits
salary.currency.displayName
salary.currency.id
salary.currency.name
salary.currency.negativeTemplate
salary.currency.new
salary.currency.positiveTemplate
salary.currency.symbol
salary.lastSalaryDate
salary.salaries

In [23]:
glassdoor_df.sort_values("salary.salaries")

,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobId.long,gaTrackerData.jobId.int,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,...,salary.currency.defaultFractionDigits,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries
157290,1382539,Xfers,1-50,Financial Transaction Processing,200052,3.281584e+09,NaN,"Software Engineer, Full Stack - HCM Vietnam",NaN,2748023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
157291,7448,Altran Group,10000--1,IT Services,200064,3.357106e+09,NaN,Android Automotive Engineer (W/M),NaN,2457577,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-09-30T12:23:30,2.0
157292,1727201,Moneybox,1-50,NaN,0,3.386690e+09,NaN,Product Manager,London,2671300,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-11-02T07:01:49,3.0
157293,354093,Demant,10000--1,Health Care Services & Hospitals,200059,3.401994e+09,NaN,Business Analyst,NaN,3008741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
157294,642590,OutSystems,1001-5000,Computer Hardware & Software,200060,3.036655e+09,NaN,Software Engineer Team Leader - Braga,Braga,3227540,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-09-24T12:04:04,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165254,0,NaN,NaN,NaN,0,3.404463e+09,NaN,Software Development Engineer (C/C++) m/f,Zürich,3297851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165268,0,NaN,NaN,NaN,0,3.406678e+09,NaN,DATA SCIENTIST,Quezon City,4778230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165277,0,NaN,NaN,NaN,0,3.399051e+09,NaN,"Deputy Project Manager, Manager Quality Contro...",NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165279,0,NaN,NaN,NaN,0,3.303312e+09,NaN,IT Business Analyst,Manila,2363570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165283,0,NaN,NaN,NaN,0,3.408427e+09,NaN,Financial Analysts/ Controller-Finance,Zürich,3297851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
glassdoor_df = glassdoor_df[glassdoor_df["salary.salaries"].notna()]
glassdoor_df

,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobId.long,gaTrackerData.jobId.int,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,...,salary.currency.defaultFractionDigits,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries
0,2183810,Modus Group,501-1000,Investment Banking & Asset Management,200053,3.227100e+09,NaN,Biogas Project Development Manager,Warsaw,3094484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0
1,10416,Boehringer Ingelheim,10000--1,Biotech & Pharmaceuticals,200021,3.406582e+09,NaN,Quality Manager - Boehringer Ingelheim Healthc...,NaN,3183562,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-14T06:05:58,2484.0
2,1043373,Immobiliare.it,201-500,NaN,0,3.230738e+09,NaN,"Senior Software Engineer (PHP, Elixir, Python)",Milano,2802090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0
3,2226886,Codup,1-50,NaN,0,3.406677e+09,NaN,Senior SQA Engineer,Karachi,3212296,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0
4,851555,Markelytics Solutions,201-500,Consulting,200028,3.201516e+09,NaN,Research Manager,Bengaluru,2940587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165285,414579,Valiram Group,1001-5000,"Department, Clothing, & Shoe Stores",200105,2.939045e+09,NaN,East – Assistant Store Manager (All Brands),NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52075.0
165286,1519,Intel Corporation,10000--1,Computer Hardware & Software,200060,3.301658e+09,NaN,Data Center Partner Marketing Manager (Japan),Tokyo,2851580,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-30T06:24:28,52076.0
165287,1065492,Mc Three,-1-0,NaN,0,3.386398e+09,NaN,Junior Production Manager m/v,Waregem,2344926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52077.0
165288,595052,Hanzehogeschool Groningen,1001-5000,Colleges & Universities,200044,3.402587e+09,NaN,Opleidingsmanager Industrieel Product Ontwerpen,Groningen,3063595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52078.0
165289,2962564,Tembusu Industries,-1-0,NaN,0,3.301947e+09,NaN,BIO MASS SCIENTIST / RESEARCHERS,NaN,3235921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52079.0