In [26]:
import os.path
from os import path
import pandas as pd
import datetime as dt
import requests

# Data Wrangle! Ye-Haw!

First we need to load in our data
- glassdoor.csv or (smaller git file)glassdoor_filtered.csv  
- glassdoor_salary_salaries

In [27]:
# this is the main glassdoor file
glassdoor_file = "Data/glassdoor.csv"
# this is the pre-filtered main gassdoor file, without some columns
# that reduce the file size from 800,00kb, to around 200,00kb
filtered_file = "Data/glassdoor_filtered.csv"
# these are the glassdoor job saleries
salaries_file = "Data/glassdoor_salary_salaries.csv"

In [28]:
# if the main glassdoor file exists, run the pre-cleanup
if (path.exists(glassdoor_file)):
    # load in the clean_overly_large_columns python script
    %run -i 'Data/clean_overly_large_columns.py'

# import the filtered_file
glassdoor_df = pd.read_csv(filtered_file)
# set the id column as the index
glassdoor_df.set_index("id", drop=True, inplace=True)
#
glassdoor_df

,index,salary.salaries.val.basePayCount,salary.salaries.val.jobTitle,salary.salaries.val.payPeriod,salary.salaries.val.salaryPercentileMap.payPercentile10,salary.salaries.val.salaryPercentileMap.payPercentile90,salary.salaries.val.salaryPercentileMap.payPercentile50,salary.salaries.val.salaryType
id,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,9.0,Advanced Consultant,ANNUAL,32257.68,41971.34,38713.25,employer
2,1.0,7.0,Consultant,ANNUAL,28855.30,74022.00,38602.20,employer
2,2.0,7.0,Software Engineer,ANNUAL,30377.86,38750.00,35032.53,employer
2,3.0,4.0,Project Manager,ANNUAL,38254.70,48675.67,45636.77,employer
...,...,...,...,...,...,...,...,...
35670,0.0,1.0,Product Manager,ANNUAL,34265.47,37770.71,NaN,employer
35670,1.0,1.0,Service Manager,ANNUAL,51916.31,56360.15,NaN,employer
35670,2.0,1.0,IPC,ANNUAL,31247.73,33952.68,NaN,employer
35670,3.0,1.0,Applications Engineer,ANNUAL,47339.83,51077.61,NaN,employer
35670,4.0,1.0,Line Operator,ANNUAL,18519.93,20354.51,NaN,employer

In [29]:
# import the salaries_file
salaries_df = pd.read_csv(salaries_file)
# set the id column as the index
salaries_df.set_index("id", drop=True, inplace=True)
#
salaries_df

,index,salary.salaries.val.basePayCount,salary.salaries.val.jobTitle,salary.salaries.val.payPeriod,salary.salaries.val.salaryPercentileMap.payPercentile10,salary.salaries.val.salaryPercentileMap.payPercentile90,salary.salaries.val.salaryPercentileMap.payPercentile50,salary.salaries.val.salaryType
id,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,9.0,Advanced Consultant,ANNUAL,32257.68,41971.34,38713.25,employer
2,1.0,7.0,Consultant,ANNUAL,28855.30,74022.00,38602.20,employer
2,2.0,7.0,Software Engineer,ANNUAL,30377.86,38750.00,35032.53,employer
2,3.0,4.0,Project Manager,ANNUAL,38254.70,48675.67,45636.77,employer
...,...,...,...,...,...,...,...,...
35670,0.0,1.0,Product Manager,ANNUAL,34265.47,37770.71,NaN,employer
35670,1.0,1.0,Service Manager,ANNUAL,51916.31,56360.15,NaN,employer
35670,2.0,1.0,IPC,ANNUAL,31247.73,33952.68,NaN,employer
35670,3.0,1.0,Applications Engineer,ANNUAL,47339.83,51077.61,NaN,employer
35670,4.0,1.0,Line Operator,ANNUAL,18519.93,20354.51,NaN,employer

## Drop it like it's hot!
Now we will drop all the data that we believe can be removed for the scope of this project

In [30]:
drop_columns = [
    "index",
    "reviews.val.cons",
    "reviews.val.featured"
]
working_df = df.drop(drop_columns, axis=1)
working_df

NameError: name 'df' is not defined